VITE_STORE_NAME=متجر ورود الهمة لقطع غيار وإكسسوارات السيارات
VITE_COMPANY_NAME=مؤسسة ورود الهمه التجارية
VITE_COMPANY_NAME_EN=Wurud Alhimah Commercial Establishment
VITE_TAGLINE=وجهتك الأولى لقطع غيار وإكسسوارات وزينة السيارات الأصلية والبديلة في المملكة
VITE_CR=7055018035
VITE_TAX_NUMBER=310550180350003
VITE_SHORT_ADDRESS=GAPA7004
VITE_CITY=جازان
VITE_DISTRICT=حي الرحاب 2
VITE_BUILDING_NO=7004
VITE_STREET=عبدالقاهر الجرجاني
VITE_POSTAL_CODE=82612
VITE_FULL_ADDRESS=المملكة العربية السعودية - جازان - حي الرحاب 2 - شارع عبدالقاهر الجرجاني - مبنى 7004
VITE_PHONE=0591300628
VITE_WHATSAPP=966591300628
VITE_EMAIL=woroodelhema1@gmail.com
VITE_FREE_SHIPPING_THRESHOLD=250
VITE_SHIPPING_COST=28
VITE_DOMAIN=worood.shopforgego.com
